<launch>
	<arg name="image_topic" default="/realsense/color/image_raw" />

	<arg name="mmdet_pub_rate" default="50" />
	<arg name="is_service" default="false" />
	<arg name="visualization" default="true" />
	<param name="use_sim_time" value="true"/>

        <arg name="yaml_file_path" default="$(find mmseg_ros_docker)/config/color_classes_ISRsea.yaml" />
<!--
	<arg name="config_path" default="$(find mmsegmentation_ros)/mmsegmentation/configs/pspnet/pspnet_r50-d8_512x1024_40k_cityscapes.py" />
	<arg name="checkpoint_path" default="$(find mmseg_ros_docker)/checkpoints/pspnet_r50-d8_512x1024_40k_cityscapes_20200605_003338-2966598c.pth" />
-->
<!--    <arg name="config_path" default="$(find mmsegmentation_ros)/mmsegmentation/configs/pspnet/pspnet_r101-d8_512x512_160k_ade20k.py" />
        <arg name="checkpoint_path" default="$(find mmseg_ros_docker)/checkpoints/pspnet_r101-d8_512x512_160k_ade20k_20200615_100650-967c316f.pth" />
-->

        <arg name="config_path" default="$(find mmsegmentation_ros)/mmsegmentation/configs/pspnet/pspnet_r50-d8_4xb4-80k_ade20k-512x512.py" />
        <arg name="checkpoint_path" default="$(find mmseg_ros_docker)/checkpoints/pspnet_r50-d8_512x512_80k_ade20k_20200615_014128-15a8b914.pth" />


	<node pkg= "mmsegmentation_ros" name="mmsegmentor" type="mmsegmentor_yaml.py" output="screen">
		<remap from="~image_topic" to="$(arg image_topic)"/>
		<param name="~publish_rate" value="$(arg mmdet_pub_rate)" />
		<param name="~is_service" value="$(arg is_service)" />
		<param name="~visualization" value="$(arg visualization)" />
                <param name="~palette" value="ade20k" /> 
		<param name="~config_path" value="$(arg config_path)" />
		<param name="~checkpoint_path" value="$(arg checkpoint_path)" />
		<param name="~opacity" value="1"/>
		<param name="~yaml_file_path" value="$(arg yaml_file_path)" />
	</node>
</launch>
